
<section class="content-header ng-scope">
	<h1>
		Ratio Test Page<small></small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
		<li class="active">Ratio Report Test Page</li>
	</ol>
</section>


<section class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="box box-primary">

				<div class="box-body text-center">
					<highchart config="columnChartConfig"></highchart>
				</div>
			</div>
		</div>



	</div>

	<br/>

</section>

